version: '{build}'
branches:
  only:
  - master
clone_folder: c:\projects\simdjson
platform: x64
image:
  - Visual Studio 2019
  - Visual Studio 2017
configuration: Release
environment:
  matrix:
    - SIMDJSON_BUILD_STATIC: ON
      SIMDJSON_ENABLE_THREADS: OFF
    - SIMDJSON_BUILD_STATIC: OFF
      SIMDJSON_ENABLE_THREADS: ON

build_script:
  - set
  - mkdir build
  - cd build
  - cmake -DSIMDJSON_BUILD_STATIC=%SIMDJSON_BUILD_STATIC% -DSIMDJSON_ENABLE_THREADS=%SIMDJSON_ENABLE_THREADS% -DCMAKE_BUILD_TYPE=%Configuration% -DCMAKE_GENERATOR_PLATFORM=x64 -DSIMDJSON_GOOGLE_BENCHMARKS=OFF ..
  - cmake --verbose --build . --config %Configuration%

test_script:
  - ctest --verbose --output-on-failure -C %Configuration%
  
matrix:
  fast_finish: true
  exclude:
    # Don't build all variants on 2019, just running it to make sure readme_tests succeed
    - image: Visual Studio 2019
      SIMDJSON_BUILD_STATIC: ON
      SIMDJSON_ENABLE_THREADS: OFF
