version: '{build}'
branches:
  only:
  - master
image:
    - Visual Studio 2017
clone_folder: c:\projects\simdjson

platform:
- x64

environment:
  matrix:
    - SIMDJSON_BUILD_STATIC: "OFF"
    - SIMDJSON_BUILD_STATIC: "ON"
      
build_script:
  - mkdir build
  - cd build
  - ps: cmake -DSIMDJSON_BUILD_STATIC="$env:SIMDJSON_BUILD_STATIC" -DCMAKE_BUILD_TYPE=Release -DCMAKE_GENERATOR_PLATFORM=x64 ..
  - cmake --build .
  - ctest --verbose
