visual_studio

/benchbranch/
/submodules/

# eclipse project files
.cproject
.project
.settings

# emacs temp files
*~

# vim temp files
.*.swp

# XCode
^build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.DS_Store

# IDE specific folder for JetBrains IDEs
.idea/
cmake-build-debug/
cmake-build-release/

# Visual Studio Code artifacts
.vscode/*
.history/

# Visual Studio artifacts
/VS/

# C/C++ build outputs
.build/
bins
gens
libs
objs

# Build outputs (TODO build to a subdir so we can exclude that instead)
/allparserscheckfile
/allparsingcompetition
/basictests
/benchfeatures
/benchmark/bench_dom_api
/benchmark/bench_parse_call
/benchmark/get_corpus_benchmark
/benchmark/parse
/benchmark/parse_stream
/benchmark/perfdiff
/benchmark/statisticalmodel
/build/
/build-ossfuzz-*/
/build-plain-*/
/corpus.zip
/distinctuseridcompetition
/errortests
/examples/quickstart/quickstart
/examples/quickstart/quickstart11
/examples/quickstart/quickstart14
/examples/quickstart/quickstart17
/examples/quickstart/simdjson.cpp
/examples/quickstart/simdjson.h
/examples/quickstart/twitter.json
/fuzz/fuzz_dump
/fuzz/fuzz_dump_raw_tape
/fuzz/fuzz_parser
/fuzz/fuzz_print_json
/get_corpus_benchmark
/json2json
/jsoncheck
/jsoncheck_westmere
/jsoncheck_fallback
/jsonpointer
/jsonstats
/integer_tests
/libsimdjson.so*
/minifiercompetition
/minify
/numberparsingcheck
/ossfuzz-out
/out
/parse
/parse_many_test
/parse_nonumberparsing
/parse_nostringparsing
/parse_noutf8validation
/parse_stream
/parseandstatcompetition
/parsingcompetition
/perfdiff
/pointercheck
/readme_examples
/readme_examples_noexceptions
/staticchecks
/statisticalmodel
/stringparsingcheck
/submodules
/ujdecode.o
/amalgamation_demo.cpp
/simdjson.cpp
/simdjson.h
/singleheader/amalgamation_demo
/singleheader/demo
/tests/basictests
/tests/errortests
/tests/jsoncheck
/tests/pointercheck
/tests/integer_tests
/tests/parse_many_test
/tests/readme_examples
/tests/readme_examples_noexceptions
/tests/staticchecks
/tools/json2json
/tools/jsonstats
/tools/minify

# Don't check in generated API docs
/doc/api

# Don't check in generated examples
/jsonexamples/generated

# C++ ignore from https://github.com/github/gitignore/blob/master/C%2B%2B.gitignore

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


### https://raw.github.com/github/gitignore/e92f8db7a027af8cc25da2dc0758317e39697684/CMake.gitignore

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# CMake files that may be specific to our installation
/CPackConfig.cmake
/CPackSourceConfig.cmake
# We check in a custom version of root Makefile that is not generated by CMake
!/Makefile

