version: 2.1


# We constantly run out of memory so please do not use parallelism (-j, -j4). 

# Reusable image / compiler definitions
executors:
  gcc8:
    docker:
      - image: conanio/gcc8
        environment:
          CXX: g++-8
          CC: gcc-8
          BUILD_FLAGS: 
          CTEST_FLAGS: --output-on-failure

  gcc9:
    docker:
      - image: conanio/gcc9
        environment:
          CXX: g++-9
          CC: gcc-9
          BUILD_FLAGS:
          CTEST_FLAGS: --output-on-failure

  gcc10:
    docker:
      - image: conanio/gcc10
        environment:
          CXX: g++-10
          CC: gcc-10
          BUILD_FLAGS:
          CTEST_FLAGS: --output-on-failure

  clang10:
    docker:
      - image: conanio/clang10
        environment:
          CXX: clang++-10
          CC: clang-10
          BUILD_FLAGS:
          CTEST_FLAGS: --output-on-failure

  clang9:
    docker:
      - image: conanio/clang9
        environment:
          CXX: clang++-9
          CC: clang-9
          BUILD_FLAGS:
          CTEST_FLAGS: --output-on-failure 

  clang6:
    docker:
      - image: conanio/clang60
        environment:
          CXX: clang++-6.0
          CC: clang-6.0
          BUILD_FLAGS:
          CTEST_FLAGS: --output-on-failure

# Reusable test commands (and initializer for clang 6)
commands:
  install_cmake:
    steps:
      - run: apt-get update -qq
      - run: apt-get install -y cmake

  cmake_prep:
    steps:
      - checkout
      - run: mkdir -p build

  cmake_build_cache:
    steps:
      - cmake_prep
      - run: cmake $CMAKE_FLAGS -DCMAKE_INSTALL_PREFIX:PATH=destination -B build . 

  cmake_build:
    steps:
      - cmake_build_cache
      - run: cmake --build build

  cmake_test:
    steps:
      - cmake_build
      - run: |
          cd build &&
          tools/json2json -h &&
          ctest $CTEST_FLAGS -L acceptance &&
          ctest $CTEST_FLAGS -LE acceptance -E checkperf

  cmake_test_all:
    steps:
      - cmake_build
      - run: |
          cd build &&
          tools/json2json -h &&
          ctest $CTEST_FLAGS -DSIMDJSON_IMPLEMENTATION="haswell;westmere;fallback" -L acceptance -LE per_implementation &&
          SIMDJSON_FORCE_IMPLEMENTATION=haswell ctest $CTEST_FLAGS -L per_implementation -E checkperf &&
          SIMDJSON_FORCE_IMPLEMENTATION=westmere ctest $CTEST_FLAGS -L per_implementation -E checkperf &&
          SIMDJSON_FORCE_IMPLEMENTATION=fallback ctest $CTEST_FLAGS -L per_implementation -E checkperf &&
          ctest $CTEST_FLAGS -LE "acceptance|per_implementation" # Everything we haven't run yet, run now.


  cmake_perftest:
    steps:
      - cmake_build_cache
      - run: |
          cmake --build  build --target checkperf &&
          cd build && 
          ctest --output-on-failure -R checkperf

  # we not only want cmake to build and run tests, but we want also a successful installation from which we can build, link and run programs
  cmake_install_test: # this version builds, install, test and then verify from the installation
    steps:
      - run: cd build && make install
      - run: echo -e '#include <simdjson.h>\nint main(int argc,char**argv) {simdjson::dom::parser parser;simdjson::dom::element tweets = parser.load(argv[1]); }' > tmp.cpp && c++ -Ibuild/destination/include -Lbuild/destination/lib -std=c++17 -Wl,-rpath,build/destination/lib -o linkandrun tmp.cpp -lsimdjson && ./linkandrun jsonexamples/twitter.json

  cmake_installed_test_cxx20: # assuming that it was installed, this tries to build using C++20
    steps:
      - run: echo -e '#include <simdjson.h>\nint main(int argc,char**argv) {simdjson::dom::parser parser;simdjson::dom::element tweets = parser.load(argv[1]); }' > tmp.cpp && c++ -Ibuild/destination/include -Lbuild/destination/lib -std=c++20 -Wl,-rpath,build/destination/lib -o linkandrun tmp.cpp -lsimdjson && ./linkandrun jsonexamples/twitter.json

jobs:

  # static
  justlib-gcc10:
    description: Build just the library, install it and do a basic test
    executor: gcc10
    environment: { CMAKE_FLAGS: -DSIMDJSON_JUST_LIBRARY=ON }
    steps: [ cmake_build, cmake_install_test, cmake_installed_test_cxx20 ]
  gcc10-perftest:
    description: Build and run performance tests on GCC 10 and AVX 2 with a cmake static build, this test performance regression
    executor: gcc10
    environment: { CMAKE_FLAGS: -DSIMDJSON_GOOGLE_BENCHMARKS=OFF -DSIMDJSON_BUILD_STATIC=ON }
    steps: [ cmake_perftest ]
  gcc10:
    description: Build and run tests on GCC 10 and AVX 2 with a cmake static build
    executor: gcc10
    environment: { CMAKE_FLAGS: -DSIMDJSON_GOOGLE_BENCHMARKS=ON -DSIMDJSON_BUILD_STATIC=ON }
    steps: [ cmake_test, cmake_install_test, cmake_installed_test_cxx20 ]
  clang6:
    description: Build and run tests on clang 6 and AVX 2 with a cmake static build
    executor: clang6
    environment: { CMAKE_FLAGS: -DSIMDJSON_GOOGLE_BENCHMARKS=ON -DSIMDJSON_BUILD_STATIC=ON }
    steps: [ cmake_test, cmake_install_test ]
  clang10:
    description: Build and run tests on clang 10 and AVX 2 with a cmake static build
    executor: clang10
    environment: { CMAKE_FLAGS: -DSIMDJSON_GOOGLE_BENCHMARKS=ON  -DSIMDJSON_BUILD_STATIC=ON }
    steps: [ cmake_test, cmake_install_test, cmake_installed_test_cxx20 ]
  # libcpp
  libcpp-clang10:
    description: Build and run tests on clang 10 and AVX 2 with a cmake static build and libc++
    executor: clang10
    environment: { CMAKE_FLAGS: -DSIMDJSON_USE_LIBCPP=ON  -DSIMDJSON_BUILD_STATIC=ON }
    steps: [ cmake_test, cmake_install_test, cmake_installed_test_cxx20 ]
  # sanitize
  sanitize-gcc10:
    description: Build and run tests on GCC 10 and AVX 2 with a cmake sanitize build
    executor: gcc10
    environment: { CMAKE_FLAGS: -DSIMDJSON_BUILD_STATIC=OFF -DSIMDJSON_SANITIZE=ON, BUILD_FLAGS: "", CTEST_FLAGS: --output-on-failure -E checkperf }
    steps: [ cmake_test ]
  sanitize-clang10:
    description: Build and run tests on clang 10 and AVX 2 with a cmake sanitize build
    executor: clang10
    environment: { CMAKE_FLAGS: -DSIMDJSON_BUILD_STATIC=OFF -DSIMDJSON_SANITIZE=ON, CTEST_FLAGS: --output-on-failure -E checkperf }
    steps: [ cmake_test ]

  # dynamic
  dynamic-gcc10:
    description: Build and run tests on GCC 10 and AVX 2 with a cmake dynamic build
    executor: gcc10
    environment: { CMAKE_FLAGS: -DSIMDJSON_BUILD_STATIC=OFF }
    steps: [ cmake_test, cmake_install_test ]
  dynamic-clang10:
    description: Build and run tests on clang 10 and AVX 2 with a cmake dynamic build
    executor: clang10
    environment: { CMAKE_FLAGS: -DSIMDJSON_BUILD_STATIC=OFF }
    steps: [ cmake_test, cmake_install_test ]

  # unthreaded
  unthreaded-gcc10:
    description: Build and run tests on GCC 10 and AVX 2 *without* threads
    executor: gcc10
    environment: { CMAKE_FLAGS: -DSIMDJSON_ENABLE_THREADS=OFF }
    steps: [ cmake_test, cmake_install_test ]
  unthreaded-clang10:
    description: Build and run tests on Clang 10 and AVX 2 *without* threads
    executor: clang10
    environment: { CMAKE_FLAGS: -DSIMDJSON_ENABLE_THREADS=OFF }
    steps: [ cmake_test, cmake_install_test ]

  # noexcept
  noexcept-gcc10:
    description: Build and run tests on GCC 10 and AVX 2 with exceptions off
    executor: gcc10
    environment: { CMAKE_FLAGS: -DSIMDJSON_EXCEPTIONS=OFF }
    steps: [ cmake_test, cmake_install_test ]
  noexcept-clang10:
    description: Build and run tests on Clang 10 and AVX 2 with exceptions off
    executor: clang10
    environment: { CMAKE_FLAGS: -DSIMDJSON_EXCEPTIONS=OFF }
    steps: [ cmake_test, cmake_install_test ]

  #
  # Misc.
  #

  # make (test and checkperf)
  arch-haswell-gcc10:
    description: Build, run tests and check performance on GCC 10 with -march=haswell
    executor: gcc10
    environment: { CXXFLAGS: -march=haswell }
    steps: [ cmake_test ]
  arch-nehalem-gcc10:
    description: Build, run tests and check performance on GCC 10 with -march=nehalem
    executor: gcc10
    environment: { CXXFLAGS: -march=nehalem }
    steps: [ cmake_test ]
  sanitize-haswell-gcc10:
    description: Build and run tests on GCC 10 and AVX 2 with a cmake sanitize build
    executor: gcc10
    environment: {  CXXFLAGS: -march=haswell, CMAKE_FLAGS: -DSIMDJSON_BUILD_STATIC=OFF -DSIMDJSON_SANITIZE=ON, BUILD_FLAGS: "", CTEST_FLAGS: --output-on-failure -E checkperf }
    steps: [ cmake_test ]
  sanitize-haswell-clang10:
    description: Build and run tests on clang 10 and AVX 2 with a cmake sanitize build
    executor: clang10
    environment: { CXXFLAGS: -march=haswell, CMAKE_FLAGS: -DSIMDJSON_BUILD_STATIC=OFF -DSIMDJSON_SANITIZE=ON, CTEST_FLAGS: --output-on-failure -E checkperf }
    steps: [ cmake_test ]

workflows:
  version: 2.1
  build_and_test:
    jobs:
      # full multi-implementation tests
      #- gcc7 tested on GitHub actions
      - gcc10 # do not delete this as it tests our performance
      - clang6
      #- clang10 # this gets tested a lot below

      # libc++
      - libcpp-clang10

      # full single-implementation tests
      - sanitize-gcc10
      - sanitize-clang10
      - dynamic-gcc10
      - dynamic-clang10
      - unthreaded-gcc10
      - unthreaded-clang10

      # no exceptions
      - noexcept-gcc10
      - noexcept-clang10

      # quicker make single-implementation tests
      - arch-haswell-gcc10
      - arch-nehalem-gcc10


      # sanitized single-implementation tests
      - sanitize-haswell-gcc10
      - sanitize-haswell-clang10

      # testing "just the library"
      - justlib-gcc10

      # TODO add windows: https://circleci.com/docs/2.0/configuration-reference/#windows
