version: 2.1

# Reusable image / compiler definitions
executors:
  gcc7:
    docker:
      - image: gcc:7
        environment:
          CXX: g++
          CC: gcc
          BUILD_FLAGS: -j
          CTEST_FLAGS: -j4 --output-on-failure

  gcc8:
    docker:
      - image: conanio/gcc8
        environment:
          CXX: g++-8
          CC: gcc-8
          BUILD_FLAGS: -j
          CTEST_FLAGS: -j4 --output-on-failure

  gcc9:
    docker:
      - image: conanio/gcc9
        environment:
          CXX: g++-9
          CC: gcc-9
          BUILD_FLAGS: -j
          CTEST_FLAGS: -j4 --output-on-failure

  gcc10:
    docker:
      - image: conanio/gcc10
        environment:
          CXX: g++-10
          CC: gcc-10
          BUILD_FLAGS: -j
          CTEST_FLAGS: -j4 --output-on-failure

  clang10:
    docker:
      - image: conanio/clang10
        environment:
          CXX: clang++-10
          CC: clang-10
          BUILD_FLAGS: -j
          CTEST_FLAGS: -j4 --output-on-failure

  clang9:
    docker:
      - image: conanio/clang9
        environment:
          CXX: clang++-9
          CC: clang-9
          BUILD_FLAGS: -j
          CTEST_FLAGS: -j4 --output-on-failure

  clang6:
    docker:
      - image: conanio/clang60
        environment:
          CXX: clang++-6.0
          CC: clang-6.0
          BUILD_FLAGS: -j
          CTEST_FLAGS: -j4 --output-on-failure

# Reusable test commands (and initializer for clang 6)
commands:
  install_cmake:
    steps:
      - run: apt-get update -qq
      - run: apt-get install -y cmake

  cmake_prep:
    steps:
      - checkout
      - run: mkdir -p build

  cmake_build:
    steps:
      - cmake_prep
      - run: |
          cd build &&
          cmake $CMAKE_FLAGS -DCMAKE_INSTALL_PREFIX:PATH=destination .. &&
          make $BUILD_FLAGS all

  cmake_test:
    steps:
      - cmake_build
      - run: |
          cd build && tools/json2json -h &&
          ctest $CTEST_FLAGS -L acceptance &&
          ctest $CTEST_FLAGS -LE acceptance -E checkperf

  cmake_test_all:
    steps:
      - cmake_build
      - run: |
          cd build &&  tools/json2json -h &&
          ctest $CTEST_FLAGS -L acceptance -LE per_implementation &&
          SIMDJSON_FORCE_IMPLEMENTATION=haswell ctest $CTEST_FLAGS -L per_implementation &&
          SIMDJSON_FORCE_IMPLEMENTATION=westmere ctest $CTEST_FLAGS -L per_implementation &&SIMDJSON_FORCE_IMPLEMENTATION=fallback ctest $CTEST_FLAGS -L per_implementation &&
          ctest $CTEST_FLAGS -LE "acceptance|per_implementation" # Everything we haven't run yet, run now.


  # we not only want cmake to build and run tests, but we want also a successful installation from which we can build, link and run programs
  cmake_install_test: # this version builds, install, test and then verify from the installation
    steps:
      - run: cd build && make install
      - run: echo -e '#include <simdjson.h>\nint main(int argc,char**argv) {simdjson::dom::parser parser;simdjson::dom::element tweets = parser.load(argv[1]); }' > tmp.cpp && c++ -Ibuild/destination/include -Lbuild/destination/lib -std=c++17 -Wl,-rpath,build/destination/lib -o linkandrun tmp.cpp -lsimdjson && ./linkandrun jsonexamples/twitter.json

jobs:

  # static
  gcc7:
    description: Build and run tests on GCC 7 and AVX 2 with a cmake static build
    executor: gcc7
    environment: { CMAKE_FLAGS: -DSIMDJSON_GOOGLE_BENCHMARKS=ON -DSIMDJSON_BUILD_STATIC=ON }
    steps: [ install_cmake, cmake_test, cmake_install_test ]
  justlib-gcc10:
    description: Build just the library, install it and do a basic test
    executor: gcc10
    environment: { CMAKE_FLAGS: -SIMDJSON_JUST_LIBRARY=ON }
    steps: [ cmake_build, cmake_install_test ]
  gcc10:
    description: Build and run tests on GCC 10 and AVX 2 with a cmake static build
    executor: gcc10
    environment: { CMAKE_FLAGS: -DSIMDJSON_GOOGLE_BENCHMARKS=ON -DSIMDJSON_BUILD_STATIC=ON }
    steps: [ cmake_test_all, cmake_install_test ]
  clang6:
    description: Build and run tests on clang 6 and AVX 2 with a cmake static build
    executor: clang6
    environment: { CMAKE_FLAGS: -DSIMDJSON_GOOGLE_BENCHMARKS=ON -DSIMDJSON_BUILD_STATIC=ON }
    steps: [ cmake_test, cmake_install_test ]
  clang10:
    description: Build and run tests on clang 10 and AVX 2 with a cmake static build
    executor: clang10
    environment: { CMAKE_FLAGS: -DSIMDJSON_GOOGLE_BENCHMARKS=ON  -DSIMDJSON_BUILD_STATIC=ON }
    steps: [ cmake_test, cmake_install_test ]
  # libcpp
  libcpp-clang10:
    description: Build and run tests on clang 10 and AVX 2 with a cmake static build and libc++
    executor: clang10
    environment: { CMAKE_FLAGS: -DSIMDJSON_USE_LIBCPP=ON  -DSIMDJSON_BUILD_STATIC=ON }
    steps: [ cmake_test, cmake_install_test ]
  # sanitize
  sanitize-gcc10:
    description: Build and run tests on GCC 10 and AVX 2 with a cmake sanitize build
    executor: gcc10
    environment: { CMAKE_FLAGS: -DSIMDJSON_BUILD_STATIC=OFF -DSIMDJSON_SANITIZE=ON, BUILD_FLAGS: "", CTEST_FLAGS: -j4 --output-on-failure -E checkperf }
    steps: [ cmake_test ]
  sanitize-clang10:
    description: Build and run tests on clang 10 and AVX 2 with a cmake sanitize build
    executor: clang10
    environment: { CMAKE_FLAGS: -DSIMDJSON_BUILD_STATIC=OFF -DSIMDJSON_SANITIZE=ON, CTEST_FLAGS: -j4 --output-on-failure -E checkperf }
    steps: [ cmake_test ]

  # dynamic
  dynamic-gcc10:
    description: Build and run tests on GCC 10 and AVX 2 with a cmake dynamic build
    executor: gcc10
    environment: { CMAKE_FLAGS: -DSIMDJSON_BUILD_STATIC=OFF }
    steps: [ cmake_test, cmake_install_test ]
  dynamic-clang10:
    description: Build and run tests on clang 10 and AVX 2 with a cmake dynamic build
    executor: clang10
    environment: { CMAKE_FLAGS: -DSIMDJSON_BUILD_STATIC=OFF }
    steps: [ cmake_test, cmake_install_test ]

  # unthreaded
  unthreaded-gcc10:
    description: Build and run tests on GCC 10 and AVX 2 *without* threads
    executor: gcc10
    environment: { CMAKE_FLAGS: -DSIMDJSON_ENABLE_THREADS=OFF }
    steps: [ cmake_test, cmake_install_test ]
  unthreaded-clang10:
    description: Build and run tests on Clang 10 and AVX 2 *without* threads
    executor: clang10
    environment: { CMAKE_FLAGS: -DSIMDJSON_ENABLE_THREADS=OFF }
    steps: [ cmake_test, cmake_install_test ]

  # noexcept
  noexcept-gcc10:
    description: Build and run tests on GCC 10 and AVX 2 with exceptions off
    executor: gcc10
    environment: { CMAKE_FLAGS: -DSIMDJSON_EXCEPTIONS=OFF }
    steps: [ cmake_test, cmake_install_test ]
  noexcept-clang10:
    description: Build and run tests on Clang 10 and AVX 2 with exceptions off
    executor: clang10
    environment: { CMAKE_FLAGS: -DSIMDJSON_EXCEPTIONS=OFF }
    steps: [ cmake_test, cmake_install_test ]

  #
  # Misc.
  #

  # make (test and checkperf)
  arch-haswell-gcc10:
    description: Build, run tests and check performance on GCC 7 with -march=haswell
    executor: gcc10
    environment: { CXXFLAGS: -march=haswell }
    steps: [ cmake_test ]
  arch-nehalem-gcc10:
    description: Build, run tests and check performance on GCC 7 with -march=nehalem
    executor: gcc10
    environment: { CXXFLAGS: -march=nehalem }
    steps: [ cmake_test ]
  no-computed-goto-gcc10:
    description: Build, run tests and check performance on GCC 7 with -DSIMDJSON_NO_COMPUTED_GOTO=true
    executor: gcc10
    environment: { CXXFLAGS: -DSIMDJSON_NO_COMPUTED_GOTO=true }
    steps: [ cmake_test ]

workflows:
  version: 2.1
  build_and_test:
    jobs:
      # full multi-implementation tests
      - gcc7
      #- gcc10 # this gets tested a lot below
      - clang6
      #- clang10 # this gets tested a lot below

      # libc++
      - libcpp-clang10

      # full single-implementation tests
      - sanitize-gcc10
      - sanitize-clang10
      - dynamic-gcc10
      - dynamic-clang10
      - unthreaded-gcc10
      - unthreaded-clang10

      # no exceptions
      - noexcept-gcc10
      - noexcept-clang10

      # quicker make single-implementation tests
      - arch-haswell-gcc10
      - arch-nehalem-gcc10
      - no-computed-goto-gcc10

      # testing "just the library"
      - justlib-gcc10

      # TODO add windows: https://circleci.com/docs/2.0/configuration-reference/#windows
