name: VS17-ARM-CI

on: [push, pull_request]

jobs:
   ci:
     name: windows-vs17
     runs-on: windows-latest
     strategy:
       fail-fast: false
       matrix:
         include:
           - {arch: ARM}
           - {arch: ARM64}
           - {arch: ARM64EC}
     steps:
       - name: checkout
         uses: actions/checkout@v4
       - name: Use cmake
         run: |
           cmake -A ${{ matrix.arch }} -DCMAKE_SYSTEM_VERSION="10.0.22621.0" -DCMAKE_CROSSCOMPILING=1 -DSIMDJSON_DEVELOPER_MODE=ON -D SIMDJSON_GOOGLE_BENCHMARKS=OFF -DSIMDJSON_EXCEPTIONS=OFF -B build  &&
           cmake --build build --verbose